/*AGBABBBYCAKES - AS OF 5.15.23 */
/*ARTWORK BY ALDO ZUCCONI*/
/*DEV AND DESIGN WORK BY ALEX GONZALEZ*/
/*FOR APEWORX, LTD */


:root {

    --bodyBackgroundColor: #D2F3E2;
    --button-color: #b6f1d2;
}

html {
    background-color:var(--bodyBackgroundColor);
    )
}


.master-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .inner-wrap {
    text-align: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    mix-blend-mode: darken!important;
  }
  
  .description {
    font-family: 'Barlow', sans-serif;
    margin-top: 20px;
  }
  
  .form {
    margin-top: 20px;
  }
  
  /* Media queries for responsive layout */
  @media (max-width: 768px) {
    .master-wrap {
      height: auto;
      padding: 20px;
    }
  }

  /*LOGO Business */
  
  .top-left {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .logo-container {
    width: 200px;
  }


  
  
.logo-graphic {
    max-width:64px;
    height:auto;
}

.logo-graphic:hover {
    filter: brightness(5);
}

/*.submit-button {
    background-color:var(--button-color);
    font-family:'barlow';
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 4px;

}
*/

#faucet-request {
    background-color:var(--bodyBackgroundColor);
}

.submit-button {
    background-color:var(--bodyBackgroundColor);
    font-family:'barlow';
    font-size: 500;
    border-style:solid;
}